html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
}

.page-section {
  padding: 4rem 0;
}

.text-black-60 {
  color: rgba(0, 0, 0, 0.92);
}
.fw-medium {
  font-weight: 500;
}
.mt-2rem {
  margin-top: 2rem;
}
.text-green{
  color: #0a203b;
  font-weight: 600;
}
.text-green-2{
  color: #004F59;
}

header.hero {
  background-image: url(../assets/img/background30.png);
  //background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  opacity: 1.2;
}

.hero .container {
  opacity: 1;
}

.hero .btn{
  background-color: #ffffff5d;
}

.hero .btn:hover{
  color: #000000c0;
}

.hero .btn:hover{
  background-color: #ffffff94;
  color: #000000c0;
}

.hero .btn:active{
  color: #0a203b;
  background-color: white;
}

#services img {
  filter: invert(50%);
  filter: hue-rotate(40deg);
}

header.hero h1 {
  color: #039298;
  font-size: 64px !important;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 2.25rem;
}

@media (max-width: 576px){
  header.hero h1 {
    font-size: 44px !important;
  }
}

@media (max-width: 367px){
  header.hero h1 {
    font-size: 32px !important;
  }
}

.carousel-item.active {
  display: flex;
}

header.hero img {
  -webkit-filter: drop-shadow(25px 25px 25px rgba(116, 116, 116, 0.642));
  filter: drop-shadow(25px 25px 25px rgba(117, 117, 117, 0.601));
} 


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
.carousel-item {
  animation: fadeIn 0.2s;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: 0.1s;
  animation: fadeOut 0.2s;
}

.carousel-indicators .btn.active{
  color: rgb(255, 255, 255);
  background-color: #238a9a;
}
.carousel-indicators .btn.active:hover{
  background-color: #127e81;
}

#services h3 strong {
  color: #004F59;
}
#benefits {
  background: rgba(8, 104, 116, 0.31);
}
#footer {
  background: #2a8b9a;
}
.check{
  width: 32px;
}

.social-media {
  width: 36px;
  height: 36px;
}

.dashed .col {
  position: relative;
  overflow: hidden;
}

.dashed .col::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 2px;
  right: 2px;
  height: 1px;
  border-top: 2px dashed #9CA3AF;
  z-index: -1;
}

.dashed .col:first-child:after {
  left: 50%;
}

.dashed .col:last-child:after {
  right: 50%;
}

.btn #hero {
  border-radius: 16px !important;
  border-width: 2px;
  font-weight: 600;
  font-size: 18px !important;
}

.btn {
  border-width: 2px;
  font-weight: 600;
  font-size: 18px !important;
}

.btn-footer:hover {
  background-color: #ebebeb !important;
  color: #004F59;
}

.btn-footer:active {
  background-color: #e1e1e1 !important;
  border-color: #e1e1e1;
  color: #004F59 !important;
}

.credits {
  font-size: 12px;
}

@media (min-width: 576px){
  .dashed a {
    width: 64px;
    height: 64px;
  }
  #tutorial-section img {
    width: 50% !important;
  }
  .text-sm-nowrap{
    white-space: nowrap !important;
  }
}
@media (min-width: 768px) {
  #tutorial-section img {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  #tutorial-section .container {
    border: 0px !important;
  }
  .carousel-item {
    width: auto;
    margin-right: 0;
  }
  .buttons {
    position: relative !important;
  }
  #services h3 {
    font-size: calc(1.375rem + 1.5vw) !important;
  }
  header.hero {
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}
@media (min-width: 992px) {
  header.hero {
    height: 100%;
    min-height: 40rem;
    padding-bottom: 0;
  }
  header.hero p {
    font-size: 1.15rem;
  }
  header.hero h1 {
    font-size: 3rem;
  }
  .page-section {
    padding: 8rem 0;
  }
  .pe-lg-10{
    padding-right: 10rem;
  }
  #tutorial-section img {
    width: 80% !important;
  }
  #tutorial-section .container {
    padding: 3.25rem 6.25rem !important;
  }
}
@media (max-width: 992px) {
  header.hero{
    background-position: left 20% center;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .mt-lg-3rem {
    margin-top: 3rem;
  }
}
@media (min-width: 1200px) {
  header.hero h1 {
    font-size: 3.5rem;
  }
  .carousel-item .col-lg-8 {
    padding-right: 12rem;
  }
  #tutorial-section img {
    width: 60% !important;
  }
  header {
    padding: 0 7rem;
  }
  header .container{
    max-width: none;
  }
}







