html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
}

.page-section {
  padding: 4rem 0;
}

.text-black-60 {
  color: rgba(0, 0, 0, 0.6);
}
.fw-medium {
  font-weight: 500;
}
.mt-2rem {
  margin-top: 2rem;
}
.text-green{
  color: #375c28;
}
.text-green-2{
  color: #223a19;
}

header.hero {
  background-image: linear-gradient(0deg, #ebebeb, #fff 60%), linear-gradient(54deg, #ebebeb, rgba(255, 131, 122, 0) 58%), linear-gradient(241deg, #ebebeb, rgba(239, 152, 207, 0) 56%);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

header.hero h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 2.25rem;
}

.carousel-item.active {
  display: flex;
}

header.hero img {
  -webkit-filter: drop-shadow(25px 25px 25px rgba(116, 116, 116, 0.642));
  filter: drop-shadow(25px 25px 25px rgba(117, 117, 117, 0.601));
} 


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
.carousel-item {
  animation: fadeIn 0.2s;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: 0.1s;
  animation: fadeOut 0.2s;
}

.carousel-indicators .btn.active{
  color: rgba(79, 140, 129, 1);
  background-color: #fff;
}
.carousel-indicators .btn.active:hover{
  background-color: #e9e9e9;
}

#services h3 strong {
  color: #094b18;
}
#benefits {
  background: #87a78e8f;
}
#footer {
  background: #184222d8;
}
.check{
  width: 32px;
}
#services {
  background: #ebebeb;
}

.social-media {
  width: 36px;
  height: 36px;
}

.dashed .col {
  position: relative;
  overflow: hidden;
}

.dashed .col::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 2px;
  right: 2px;
  height: 1px;
  border-top: 2px dashed #9CA3AF;
  z-index: -1;
}

.dashed .col:first-child:after {
  left: 50%;
}

.dashed .col:last-child:after {
  right: 50%;
}

@media (min-width: 576px){
  .dashed a {
    width: 64px;
    height: 64px;
  }
  #tutorial-section img {
    width: 50% !important;
  }
  .text-sm-nowrap{
    white-space: nowrap !important;
  }
}
@media (min-width: 768px) {
  #tutorial-section img {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  #tutorial-section .container {
    border: 0px !important;
  }
  .carousel-item {
    width: auto;
    margin-right: 0;
  }
  .buttons {
    position: relative !important;
  }
  #services h3 {
    font-size: calc(1.375rem + 1.5vw) !important;
  }
  header.hero {
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}
@media (min-width: 992px) {
  header.hero {
    height: 100%;
    min-height: 40rem;
    padding-bottom: 0;
  }
  header.hero p {
    font-size: 1.15rem;
  }
  header.hero h1 {
    font-size: 3rem;
  }
  .page-section {
    padding: 8rem 0;
  }
  .pe-lg-10{
    padding-right: 10rem;
  }
  #tutorial-section img {
    width: 80% !important;
  }
  #tutorial-section .container {
    padding: 3.25rem 6.25rem !important;
  }
}
@media (max-width: 992px) {
  header.hero{
    background-position: left 20% center;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .mt-lg-3rem {
    margin-top: 3rem;
  }
}
@media (min-width: 1200px) {
  header.hero h1 {
    font-size: 3.5rem;
  }
  .carousel-item .col-lg-8 {
    padding-right: 12rem;
  }
  #tutorial-section img {
    width: 60% !important;
  }
  header {
    padding: 0 7rem;
  }
  header .container{
    max-width: none;
  }
}







